.score-table {
    width: 25%;
    border-collapse: separate;
    border-spacing: 0;
}

.score-table td {
    padding: 5px;
}

.score-table td:first-child {
    text-align: right;
    padding-right: 10px;
}

.score-table td:last-child {
    text-align: left;
}

.border-top td {
    border-top: 2px solid black;
}

#dice1, #dice2, #dice3, #dice4, #dice5 {
    width: 50px;
    height: 50px;
}
