doctype html
html
    head
        title Yatzy Game
        link(rel='stylesheet', href='/styles.css')
    body
        h1 Welcome to the Yatzy Game!
        h2 Players:
        ul
            each player in players
                li= player.name + ': ' + player.score
        if !gameInProgress
            form(action='/join', method='post')
                label(for='name') Name:
                input(type='text', id='name', name='name')
                button(type='submit') Join Game
        else
            p The game is in progress...

